.image-container{
    position: relative;
    /* height: 200px;
    width: 400px; */
}

.image-container > img{
    max-width: 400px;
    max-height: 400px;
    display: block;
}

.bounding-box{
    position: absolute;
    border:1px black solid;
}